spring:
  server:
    port: 8080
  application:
    name: backend
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  # h2 config
  h2:
    console:
      enabled: true
      path: /h2-console

  # jpa config
  jpa:
    hibernate:
      ddl-auto: create
      show-sql: true
    properties:
      hibernate:
        format_sql: true
